# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/
.git/
.ipynb_checkpoints/


.idea
data/
results/
figures/
src.egg-info/
svz_singlecell_aging_clocks/
AgingClock/
**/__pycache__
**/.DS_Store
